@charset "utf-8";
/* CSS Document */

body{
	background-color:#111;
	background-image:url(../images/bg.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
}



/*********HEADER**************/
div.header{
	width:980px;
	height:120px;
	margin:0px auto 0px auto;
	text-align:left;
	padding:0px 0px 0px 0px;
}
		div.header-logo{
			float:left;
		}
		div.header-right{
			height:auto;
			width:100px;
			float:right;
			margin:10px 10px 0px 0px;
			padding:0px 20px 0px 0px;
			text-align:left;

		}
			div.header-right h3{
				font-style:italic;
				color:#444;
			}
			ul.header-menu{
				color:#666;
				list-style:none;
				font-family:Georgia, "Times New Roman", Times, serif;
				font-style:italic;
			}
				ul.header-submenu{
					color:#C9C;
					list-style:none;
				}
					li ul.header-submenu{
						position:absolute;
						margin:-20px 0px 0px -50px;
						padding:0px 0px 0px 0px;
					}


/*********CONTEINER**************/
div.conteiner{
	width:980px;
	height:auto;
	margin:0px auto 0px auto;
	text-align:center;
	padding:20px 0px 20px 0px;
	background-color:#111;
}
		img.conteiner{
			margin:0pc auto 0px auto;
		}
		div.conteiner-nav{
			width:200px;
			height:auto;
			background-color:#111;
			float:left;
			color:#FFF;
			padding:0px 0px 0px 0px;
		}
				ul{
					display:block;
					margin:0px;
					padding:0px;
					float:left;
				}
				li.nav-link{
					list-style:none;
					text-align:left;
					font-style:normal;
					font-weight:bold;
					font-size:16px;
					width:180px;
					height:30px;
					padding:10px 10px 0px 10px;
					margin:0px 0px 0px 0px;
					border-bottom:1px solid #222;
				}
					li.nav-link:hover{
						background-color:#222;
						background-image:url(../images/button-bg.png);
					}
					
					
					li.nav-link-active{
						list-style:none;
						text-align:left;
						font-style:normal;
						font-weight:bold;
						font-size:16px;
						width:180px;
						height:30px;
						padding:10px 10px 0px 10px;
						margin:0px 0px 0px 0px;
						background-color:#222;
						background-image:url(../images/button-bg.png);
						border-bottom:thin solid #111;
					}
		
		div.underNav{
			margin:10px 0px 0px 0px;
			padding:0px 0px 0px 20px;
			text-align:left;
			color:#444;
		}
				div.underNav h4{
					padding:0px 10px 0px 10px;
					margin:0px 10px 0px 10px;
					border-bottom:thin solid #999;
					height:30px;
					color:#C60;
				}
		
		div.conteiner-content{
			width:755px;
			height:auto;
			background-color:#222;
			float:left;
			border:0px;
			margin:0px 0px 0px 0px;
			padding:20px 0px 20px 20px;
			text-align:left;
			color:#FFF;
			font-size:16px;
		}
		div.conteiner-content-stenci{
			width:510px;
			height:auto;
			background-color:#222;
			float:left;
			border:0px;
			margin:0px 0px 0px 0px;
			padding:20px 0px 20px 20px;
			text-align:left;
			color:#FFF;
			font-size:16px;
		}
				dic.conteiner-content img{
				}
				div.galery-img{
					width:170px;
					height:130px;
					float:left;
					margin:0px 0px 0px 0px;
				}
						.galery-img a{
							color:#333;
						}
				.conteiner-content-top{
					/*background-image:url(../images/conteiner-content-top.png);*/
					background-repeat:no-repeat;
					color:#222;
					padding:10px 20px 10px 20px;;
					height:300px;
					text-align:center;
				}
						div.conteiner-content-top iframe{
							float:left;
							border:none;
							padding:0px;
							margin:0px;
						}
						
						iframe{
							border:none;
							padding:0px;
							margin:0px;
						}
						
						.p-top{
						}
						.p-top-img{
							float:left;
						}
		div.conteiner-side{
			width:100px;
			height:auto;
			background-color:#333;
			float:right;
		}
				.p{
					padding:0px 0px 10px 0px;
					border-bottom:thin solid #999;
				 }

			div.novosti{
				float:left;
				width:220px;
				padding:0px 0px 0px 0px;
				margin:-20px 0px 0px 0px;
				background-repeat:no-repeat;
			}

			div.cnovosti h4{
				color:#666;
				text-align:right;
				padding:0px 20px 0px 0px;
				margine:0px 0px 0px 0px;
				letter-spacing:3px;
				font-size:20px;
				font-weight:bolder;
				border:thin dotted #333;
			}

		div.conteiner-top{
			width:100%;
			height:0px;
			margin:auto -8px;
		}
		
		div.conteiner-right{
			float:left;
			width:220px;
			padding:0px 0px 0px 0px;
			margin:-20px 0px 0px 0px;
			background-repeat:no-repeat;
		}
		div.conteiner-right-all{
			float:right;
			width:220px;
			height:auto;
			margin:0px 0px 20px 0px;
			border-left:thin dotted #666;
		}
				div.conteiner-right-down{
					float:left;
					background-image:url(../images/conteiner-side-down.png);
					background-repeat:no-repeat;
					background-position:0px 0px;
					width:220px;
					height:31px;
				}
			div.formbody-side{
				text-align:left;
				font-size:12px;
				color:#FFF;
			}
			div.conteiner-right iframe{
				color:#222;
				padding:0px;
				margin:0px;
			}
			div.conteiner-right p{
				text-align:right;
				padding:0px 20px 0px 0px;
				font-style:italic;
				color:#333;
			}
			div.conteiner-right h4{
				color:#666;
				text-align:right;
				padding:0px 20px 0px 0px;
				margine:0px 0px 0px 0px;
				letter-spacing:3px;
				font-size:20px;
				font-weight:bolder;
				border:thin dotted #333;
			}

		div.conteiner-left{
			width:450px;
			float:left;
			margin:0px 10px 0px 0px;
			padding:0px 10px 0px 0px;
		}
				i.quotes{
					text-align:center;
					color:#1EA2E8;
				}
/*********FOOTER**************/
div.footer{
	width:980px;
	height:auto;
	margin:0px auto 20px auto;
	text-align:left;
	padding:0px 0px 0px 0px;
}
		.footer h1{
			color:#CCC;
			font-style:italic;
		}

		div.footer-left{
			float:left;
			text-align:center;
			width:50%;
			height:0px;
		}
		div.footer-right{
			float:left;
			text-align:center;
			width:50%;
			height:0px;
		}
		div.footer-down{
			height:30px;
			text-align:center;
			clear:both;
			letter-spacing:1px;
			line-height:1px;
			color:#222;
			padding:10px 0px 0px 0px;
		}


/*********FORM**************/
div.formbody{
	font:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	font-style:italic;
	color:#C60;
	text-align:right;
	padding:0px 50px 0px 0px;
}
input{
	font:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	font-style:italic;
	text-align:left;
	padding:0px 0px 0px 0px;
	color:#999;
}
textarea{
	font:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	font-style:italic;
	text-align:left;
	padding:0px 0px 0px 0px;
	color:#999;
}

div.thankYou{
	text-align:center;
	font:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	font-style:italic;
}
div.contactTel{
	text-align:right;
	padding:0px 50px 0px 0px;
}


/*********OSTALO**************/
h1{
	margin:0px;
}
h2{
	font:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}
h4{
	font:Georgia, "Times New Roman", Times, serif;
	color:#333;
}
div.clear{
	clear:both;
}

/*********LINKS**************/

a.links{
	color:#555;
	text-decoration:none;
}
a.links-active{
	color:#F60;
	text-decoration:none;
}
a.links:hover{
	color:#F60;
	text-decoration:underline;
}

a.menu-ul-2{
	color:#555;
	text-decoration:none;
}
a.menu-ul-2-active{
	color:#F60;
	text-decoration:none;
}
a.menu-ul-2:hover{
	color:#F60;
	text-decoration:underline;
}


h1{
	margin:0px 0px 0px 0px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#333;
	padding:0px 0px 0px 20px;
	border-bottom:thin dotted #FFF;
	background-repeat:no-repeat;
	background-position:-50px 0px;
}
div.h1{
	padding:0px 0px 0px 0px;
	margin:0px 0px 20px 0px;
}

iframe{
	border:none;
	padding:0px;
	margin:0px;
}
div.imgLinks{
	text-align:center;
	width:450px;
	height:270px;
	margin:10px;
	background-color:#222;
}
	div.imgLinks img{
		border:solid 5px #FFF;
	}
div.imgLinksBody{
}

div.border-botom{
	border-bottom:thin dotted #666;
	height:5px;
	margin:0px 20px;
}